<h1>Edit your course</h1>
<form #myForm='ngForm' class="container" (ngSubmit)='updateCourse(myForm.value)' >
    <div class="mb-3 form-group">
      <label for="name" class="form-label">Name</label><br>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]='courses.name'>
    </div>
    <div class="mb-3 form-group">
        <label for="teacher" class="form-label">Teacher</label><br>
        <input type="text" class="form-control" id="teacher" name="teacher" [(ngModel)]='courses.teacher'>
      </div>
      <div class="mb-3 form-group">
        <label for="price" class="form-label">Price</label><br>
        <input type="text" class="form-control" id="price" name="price" [(ngModel)]='courses.price'>
      </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>